[2020-07-23 01:13] SilvesterHsu opened #1 "Impleament of Bagging"
In the code of `BaggingClassifier` [line 28](https://github.com/AaronX121/Ensemble-Pytorch/blob/master/ensemble/baggingclassifier.py#L28), the size should not be multiplied with `0.632`.
[code]

The `torch.randint` is a sample method with **replacement**. In other words, duplicate elements will appear in the results

In the case of replacement，
<a href="https://www.codecogs.com/eqnedit.php?latex=\

[2020-08-05 11:09] AaronX121 commented on #1
Thanks for your clarifications on `torch.randint`. I will fix it !

[2020-08-15 02:46] #1 closed

[2020-11-10 03:26] JosephBChoi opened #2 "No module named `torchensemble.method`"
@AaronX121, Dear AaronX121,

I tried to follow the code snippet provided on the README.md, but it complains with a run-time error of `ModuleNotFoundError: No module named 'torchensemble.methd'`.

The run-time error seems to make sense since there is no `method` function inside of the `torchensemble` folder.

Could you help me how to fix or get around this issue?

[2020-11-10 03:33] AaronX121 commented on #2
The keyword `method` in README.md indicates one of {`fusion`, `voting`, `bagging`, `gradient_boosting`}. You can see scripts in `/examples` for details on how to use.

Let me know if there is still a problem :-)

[2020-11-11 03:26] AaronX121 commented on #2
Feel free to open another issue if you have any problem.

[2020-11-11 03:26] #2 closed

[2020-11-14 12:40] Zackhardtoname opened #3 "Requirements.txt versions"
Could you add the version numbers

[2020-11-14 12:50] AaronX121 commented on #3
Thanks for reporting @Zackhardtoname, I will add the minimum requirements latter.

In addition, feel free to tell me if it has any problem under your current package environment. In my practice, it works well from PyTorch 0.4 to the latest 1.7.

[2020-11-14 23:49] Zackhardtoname commented on #3
That's definitely good to know! So far it's really helpful!

[2020-11-15 01:58] #3 closed

[2020-12-10 12:15] Jacob-Chew opened #4 "class BaseGradientBossting, there is a braket when the estimator is put in device"
class BaseGradientBossting(BaseModule):
# Base estimators
        self.estimators_ = nn.ModuleList()
        for _ in range(self.n_estimators):
            self.estimators_.append(estimator().to(self.device))
if initial a class BaseGradientBossting, a forward function in estimator will be excuted and it will be a wrong for there is no inputs

[2020-12-10 12:26] AaronX121 commented on #4
Hi @Jacob-Chew, thanks for reporting!

Could you please add the traceback information showing that something is wrong?

I have just tested the `GradientBoostingClassifier` on PyTorch 1.7.0 using the script in `/exmaples`, and the program moves to the training stage without throwing any error.

[2020-12-10 13:16] AaronX121 commented on #4
Let's see if I get your point, the backet after `estimator` is necessary because what we want is that each element in `self.estimators_` corresponds to an individual base estimator **after instantiation**.  You can check the loop at [Here](https://github.com/AaronX121/Ensemble-Pytorch/blob/master/torchensemble/gradient_boosting.py#L88), each estimator is directly used for data forward and training

[2020-12-11 01:49] Jacob-Chew commented on #4
I think I have found the reason. In my code, what I passed to estimator is a instance of the network class instead of the class object, so when excute estimator().to(self.device)  it will make it forward.

[2020-12-11 01:52] AaronX121 commented on #4
Maybe I should clarify or add more options on the input argument `estimator`. Thanks for reporting! ; )

[2020-12-11 01:52] #4 closed

[2020-12-14 09:44] timewaitsfor opened #5 "Can Ensemble-Pytorch integrate multiple different models? [Support heterogenous models to be aggregated]"
RT

[2020-12-14 11:10] AaronX121 commented on #5
Hi @timewaitsfor, thanks for this feature request ;-)

It would be nice if heterogenous models can be jointly passed into the ensemble wrapper. I will pin this issue and work on it.

[2020-12-21 13:06] AaronX121 commented on #5
Hi @timewaitsfor, I would be very happy if you could provide some suggestions on the design pattern of `MixWrapper` as you suggested.

I have been thinking that it may not be a good idea to design a class that takes heterogenous models as the input, and condut a training stage on all of them, because the configuration on learning rate, batch size, etc., could be quite diverse for different models

[2020-12-27 20:24] ozanpkr opened #6 "Pytorch Model Usage [Support model validation and serialization]"
Hi @xuyxu ,
    I wanna use this repo with pytorch cnn models such as resnet,densenet,etc. Can I use this repo for that?I tried but I got error.After then I  created ensemble model with two submodel(hrnet_w18_small).When I use this ensemble model with your repo I got error again 😄 Have you any suggestion?

[code]

[code]
[code]

[code]

[code]

[2020-12-28 01:39] xuyxu commented on #6
Hi @ghost-ronin, thanks for reporting!

What is the type of `myens` in your fifth code snippet when initializing the `FusionClassifier` ? If it is an instantiation of your class `MyEnsemble`, then I think the problem is that your should directly pass `MyEnsemble` to `FusionClassifier` :-)

Would you please try whether the solution above fixes your problem, and I will follow up this issue.

[2020-12-29 16:01] ghost-ronin commented on #6
Hi @xuyxu ,
    I have got good train acc score with pytorch -models on your code.I created new class taht include models feature.This code is;
[code]
Now I have suggestion to you 😄 Can you try create one function that calculate train acc,train loss and val acc val loss for save best val acc weight and avoid on overfitting ?I tried that but without gpu usage optimization. So it was not user-friend

[2020-12-29 23:13] xuyxu commented on #6
Hi @ghost-ronin, glad to see your problem solved, and thanks for your suggestions!

I will pin this issue and work on it latter ;-)

[2020-12-30 14:49] ghost-ronin commented on #6
Hi @xuyxu .
I have news for you 😄  I recreate fussionclassifier that include validation step.You can your repo after check.I used that and I didn't see any problem.
You send dataloader dict. that has train and validation dataset.After all epoch this function save best weight on your machine and load your model finally return val train acc loss list for draw graphs 😃  next task is add learning rate

[2020-12-30 15:19] xuyxu commented on #6
Thanks @ghost-ronin! I like your way of integrating both of validation and serialization into the `fit`. In addition, I have two small problems on your code snippet above:

(1) How is the variable `phase` passed to the `fit` ? It looks like it is not an input argument of the function `fit`;
(2) What is the type of `dataloaders` as the first input argument of `fit`?

* * *

Besides, here are some o

[2020-12-30 17:47] ghost-ronin commented on #6
Hi @xuyxu ,
In every epoch we use for loop on 'train' and 'val' string like that;
[code]
For second question we use dataloaders like that;

[code]
Finally your new fit function is looks great with new parameters 💯

[2020-12-31 02:13] xuyxu commented on #6
Thanks for your explaination @ghost-ronin. My last question is that would it be convenient for you to report the improved performance after using `fusionclassifier`?

It looks like you are using `ResNet18` as the base estimator, which is quite large, complex, and powerful. Therefore, I am interesting to know that how much improvements could be achieved by `fusionclassifier` when using this kind of

[2020-12-31 09:40] ghost-ronin commented on #6
I would be pleased to share the effect of fusion classification on performance.However ,my dataset is little hard.So ,I will try on  your fusion classifier with easy datas after then my project.

[2020-12-31 09:45] xuyxu commented on #6
Never mind, gook luck with your project !

Meanwhile, I will keep this issue open and upload the improved version in a few days.

[2020-12-31 09:52] ghost-ronin commented on #6
Not a subject to be ignored 😄 I write academic paper so I have little time .I wanna know that effects of your repo on other dataset.So I will try it and share with you.

[2021-01-01 12:08] xuyxu commented on #6
Hi @ghost-ronin,  this feature request has been added to the master branch. You can use it according to instructions in https://ensemble-pytorch.readthedocs.io/en/latest/parameters.html.

I will keep this issue open, and feel free to comment on this feature request if you have any problem ;-)

[2021-01-21 09:10] xuyxu opened #28 "[ENH] Refactor the operations on tensors into a standalone module `torchensemble.operation`"
Currently, many codes implemented in different ensembles are redundant. For example, the outputs of `voting`, `bagging`, `snapshot ensemble` all take the average over predictions from base estimators, leading to high redundancy on their `forward` functions.

It would be much better to have them aggregated into a standalone module `torchensemble.operation`, which focuses on the operations on tensor

[2021-01-23 11:24] #28 closed

[2021-01-27 05:53] Alex-Medium opened #33 "set_scheduler does not work using VotingClassifier"
Hi, I have used torchensemble for classification on CIFAR-10, and it looks like there is a problem on `set_scheduler`.

I have followed the examples and used 5 resnet-18 models. The results on FusionClassifier are fine, over 95% on CIFAR-10. However, VotingClassifier only achieves a testing accuracy of 90%.

After looking at the source codes on VotingClassifier, I think the problem is related to `

[2021-01-27 06:00] xuyxu commented on #33
Thanks for reporting @Alex-Medium. Could you provide a running script on your experiment, so that we can reproduce the problem?

[2021-01-27 08:14] Alex-Medium commented on #33
Sure.

[code]

[2021-01-27 08:23] zzzzwj commented on #33
@Alex-Medium OK, I'll check it soon.

[2021-01-27 08:46] Alex-Medium commented on #33
@zzzzwj Maybe the optimizer located in the scheduler no longer exists after the parallelization, right ?

[2021-01-27 09:11] xuyxu commented on #33
I agree with you @Alex-Medium ;-)

The deepcopy operation on the side of joblib may have corrupted the bindings between optimizers and schedulers in PyTorch. Zhang is currently working on this. Hopefully this bug would be fixed soon.

[2021-01-29 14:01] xuyxu commented on #33
Hi @Alex-Medium, this issue has been fixed in PR #37. Feel free to open another issue if you have any problem ;-)

[2021-01-29 14:01] #33 closed

[2021-01-29 14:16] Alex-Medium commented on #33
Great, thanks!

[2021-02-01 05:30] xuyxu commented on #6
Hi @ozanpkr, I have not heard from you for a while.

This issue has already been fixed, you can check the changelog for details: https://ensemble-pytorch.readthedocs.io/en/latest/changelog.html. Feel free to re-open the issue if you still have any problem ;-)

[2021-02-01 05:30] #6 closed

[2021-02-01 05:31] xuyxu commented on #5
Hi @timewaitsfor. This feature request will be involved after the version 0.1 released. Thanks for bringing us this feature request!

[2021-02-01 05:31] #5 closed

[2021-02-01 06:40] xuyxu opened #38 "Concerns on the `AdversarialTrainingClassifier`"
Hi @zzzzwj, I cannot reproduce the experiment results reported in the paper : Simple and Scalable Predictive Uncertainty
Estimation using Deep Ensembles.

It is true that the training loss is smaller than that when training a single base estimator, but the performance after ensembling is not much better than using a single estimator.

We may need to dig in the `AdversarialTrainingClassifier` and c

[2021-02-01 07:52] zzzzwj commented on #38
Sorry, I don't know either. We may try to train our ensemble model in a larger dataset. The cifar10 is probably saturated to some extent.

[2021-02-01 07:54] xuyxu commented on #38
Is that true that if `AdversarialTrainingClassifier` fails on CIFAR-10, adding adversarial samples on a harder dataset, say, CIFAR-100, will degrade its performance further?

[2021-02-01 08:13] zzzzwj commented on #38
It's just my guess and needs to be validated.

[2021-02-25 02:59] Xiaohui9607 opened #43 "Can't load model"
RT

[2021-02-25 03:03] xuyxu commented on #43
Hi @Xiaohui9607, the latest version with PR #41 adds this. You can install the package from source:

[code]

[2021-02-25 03:33] Xiaohui9607 commented on #43
no, it doesn't, you need to "fit" a model before you can load the checkpoint:
fail:
`
model = VotingClassifier(estimator=model_wrapper,  # your deep learning model
                        n_estimators=10)
# {Ensemble_Method_Name}_{Base_Estimator_Name}_{n_estimators}
filename = "{}_{}_{}_ckpt.pth".format(type(model).__name__,
                                      model.base_estimator_.__name__,

[2021-02-25 03:38] xuyxu commented on #43
Thanks, I will fix this ;-)

If you want to use the model on the fly, could you check if methods like `pickle.dump` help?

[2021-02-25 03:43] xuyxu commented on #43
@all-contributors please add @Xiaohui9607  for bug

[2021-02-25 07:50] xuyxu commented on #43
The problem is that `torchensemble` does not register all base estimators into the ensemble during the instantiation. Instead, each of them will be inserted into the ensemble when calling the `fit` method. As a result, if we want to reload params into a newly-declared model, all keys in the `state_dict` are missing.

 Thanks for your report, we will fix this.

[2021-02-25 08:43] #43 closed

[2021-02-28 12:13] #38 closed

[2021-03-01 02:43] xuyxu commented on #28
@all-contributors please add @cspsampedro for ideas

[2021-03-01 06:52] EternalConfession opened #49 "Can we use multiple baseestimators?"
In the demo and DOCs, it seems that we can only use one type of model as basemodel.

Can we use different models as base estimators?

[2021-03-01 06:55] xuyxu commented on #49
Hi @EternalConfession, I think you are referring to heterogeneous ensemble.

This feature request is still on-going, mainly because training protocols on different base estimators could be quite different, and therefore needs careful design.

[2021-03-04 06:20] EternalConfession commented on #49
Thanks for your reply.

Is there any related work on heterogeneous ensemble methods?

[2021-03-04 10:59] xuyxu commented on #49
Here are two related papers published in MLSys 2020, which are related to building heterogeneous ensembles on top of the neural network:

* [MotherNets: Rapid Deep Ensemble Learning](https://proceedings.mlsys.org/paper/2020/file/3ef815416f775098fe977004015c6193-Paper.pdf)
* [FLEET: Flexible Efficient Ensemble Training for Heterogeneous Deep Neural Networks](https://proceedings.mlsys.org/paper/2020

[2021-03-04 17:27] Xiaohui9607 opened #54 "BUG: overwriting estimators_"
`
        with Parallel(n_jobs=self.n_jobs) as parallel:

        ...
                if test_loader:
                    ...

                        if mse < best_mse:
                            best_mse = mse
                            self.estimators_ = nn.ModuleList()   <---
                            self.estimators_.extend(estimators)
                            if save_model:

[2021-03-05 01:15] xuyxu commented on #54
Hi @Xiaohui9607, are you refering to the case that the ensemble aftering calling `fit` actually is not the model with the best validation performance?

[2021-03-07 17:00] Xiaohui9607 commented on #54
Yes

[2021-03-08 01:43] xuyxu commented on #54
Thanks for reporting anyway.

[2021-03-08 01:43] #54 closed

[2021-03-24 12:56] xuyxu commented on #49
Closed due to inactivity.

[2021-03-24 12:56] #49 closed

[2021-04-19 14:10] mpierrau opened #66 "How to load a saved ensemble"
Hi!

Thank you for a nice ensemble wrapper!

I can't seem to figure out how to load a saved model and there are no instructions in the docs on this process. I have tried to use `load_state_dict` with the loaded state dictionary, but I get a RuntimeError (missing keys). So performing:
[code]

and then

[code]

gives the error

[code]
etc.

I have tried to load the dict to the individual base learne

[2021-04-19 14:17] xuyxu commented on #66
Hi @mpierrau, the `test_clf_class` fucnction in [test_all_models.py](https://github.com/xuyxu/Ensemble-Pytorch/blob/master/torchensemble/tests/test_all_models.py) shows an example on how to save and re-load ensmebles.

Feel free to tell me if you have any problem.

[2021-04-19 14:39] mpierrau commented on #66
Hi @xuyxu!

Thank you for your prompt reply and thank you for the pointer. I managed to load a saved model using the `io.load` module from `torchensemble.utils`.

Since this is a highly utilized function, I think your documentation would benefit from including this.

Thanks for the help! :)

[2021-04-19 14:52] xuyxu commented on #66
Sure, we will add this. Glad to hear that your problem solved.

[2021-04-19 14:52] #66 closed

[2021-06-01 11:31] Runda-Xu opened #75 "DataLoader with multiple inputs caused errors"
I have a train_loader with multiple inputs:

train_loader = torch.utils.data.DataLoader( torch.utils.data.TensorDataset(input1, input2, input3, label) ,batch_size=batch_size, shuffle=True)

These inputs are arrays with different shapes, so it's hard to concatenate them into a single tensor. They work well with normal pytorch code. However, Ensemble-Pytorch can not deal with it.
Hope Ensemble-Pytor

[2021-06-01 11:33] xuyxu commented on #75
Hi @Runda-Xu, thanks for your suggestions! I will take a look at this feature request, and get back to you soon.

[2021-06-01 12:44] xuyxu commented on #75
I am wondering that whether the code snippet below meets your requirement, where we have created a dataloader with three input tensors `input_1, input_2, input_3`, and it is passed into a model whose `forward` method takes three inputs accordingly. To make the entire workflow run as expected, we can pass multiple inputs into the model in the form of non-keyword arguments (i.e., `*data`). There sho

[2021-06-04 12:19] know-nothing8 opened #77 "Problems encountered when applying gradient boosting to Resnet18 on Cifar10."
Hello, I am learning deep ensemble methods. Your work is very good and helps me a lot. But I encountered a problem when applying gradient boosting to Resnet18 on Cifar10.

When applying ensemble algorithms, such as Bagging and Fast Geometric, to Resnet18 on the Cifar10 dataset, they work normally. However, Gradient Boosting Classifier and Soft Gradient Boosting Classifier cannot improve performanc

[2021-06-04 12:24] xuyxu commented on #77
Hi @know-nothing8, try the following solutions, and let me know if you have any problem:
* Set `use_reduction_sum` to `False` when calling the `fit` method
* Use a smaller learning rate when calling the `set_optimizer` method

The training loss turns into `nan` typically means that the current configuration on the optimizer does not adapt well with the problem appropriately. Therefore, my first su

[2021-06-04 12:51] know-nothing8 commented on #77
Thank you very much for your help.
After I changed the learning rate from 1e-1 to 1e-3, it still doesn't work. But after I changed the optimizer from "SGD" to "Adam", it can be trained normally! 👍

[2021-06-04 12:59] xuyxu commented on #77
If I remember correctly, the performance of ResNet should be slightly better when using the SGD optimizer. You could also try to use a smaller momentum factor.

I am going to close this issue since it is more of a problem on how to optimize a specific deep learning model. Thanks for reporting. 😄

[2021-06-04 12:59] #77 closed

[2021-06-08 10:20] #75 closed

[2021-06-09 20:24] e-eight opened #79 "Adding the LBFGS optimizer from PyTorch"
Hi,

I am trying to use the `BaggingRegressor` model, with shallow estimators, on a small dataset, for which the LBFGS optimizer usually gives good results with a single estimator. However I see that the LBFGS optimizer in PyTorch is not included in the accepted list of optimizers for `torchensemble`. Will it be possible to add the LBFGS optimizer to the accepted list of optimizers, or is there an

[2021-06-10 00:47] xuyxu commented on #79
Hi @e-eight, thanks for reporting! Could you provide me with an example on how to use the LBFGS optimizer, for example:

[code]

According to this [introduction](https://pytorch.org/docs/stable/optim.html#taking-an-optimization-step), it looks like using the LBFGS optimizer is different from other optimizers.

[2021-06-10 02:53] e-eight commented on #79
You can try it this way:

[code]

This way of optimizing should work with both LBFGS and other optimizers, such as Adam, at least it has worked for me with single estimators. You might find more details on the LBFGS optimizer [here](http://sagecal.sourceforge.net/pytorch/index.html).

[2021-06-10 11:44] xuyxu commented on #79
Thanks for your explanation. After reading the introduction, I think there should be no problem on supporting the LBFGS optimizer, wondering that if you are interested in working on this feature request ;-)

[2021-06-10 11:56] e-eight commented on #79
Sure, I will be happy to work on it!! I will get started on it then, and comment here if I face any problems.

[2021-06-10 12:05] xuyxu commented on #79
Glad to hear that 😄. Here are some instructions on what to do next:
* Add your contribution in `CHANGELOG.rst`
* Add the LBFGS optimizer to `set_optimizer` method in `torchensemble/utils/set_module.py`
* Update the docstrings `__set_optimizer_doc` in `torchensemble/_constants.py`
* Try to modify the training lop in `torchensemble/fusion.py` to see if the LBFGS optimizer and other optimizer both wo

[2021-06-10 12:08] xuyxu commented on #79
@all-contributors please add @e-eight for code

[2021-06-10 12:09] xuyxu commented on #79
@all-contributors please add @e-eight for code

[2021-06-10 21:36] e-eight commented on #79
Going to start working on this now. Should I use the `all-contributors/add-e-eight` branch or the `main` branch to add the new code?

[2021-06-10 23:41] xuyxu commented on #79
@e-eight it would be better to open a PR on your own.

[2021-06-12 17:12] e-eight commented on #79
I have written the code, but I am not sure what is the best way to test it. I was thinking about doing the Year Prediction example in the `examples` folder, but with the LBFGS optimizer. Do you have any suggestions? Thanks!

[2021-06-13 02:37] xuyxu commented on #79
Hi @e-eight, I am not sure if I understand your problem correctly. Perhaps you could open a pull request based on your current code, and we can then have a discussion there. For now, there is no need to pass all checks, simply upload your code, so that I can take a look and better understand your problem ;-)

[2021-06-15 16:46] e-eight commented on #79
Added pull request #81.

[2021-06-15 21:23] xuyxu commented on #79
Thanks @e-eight for your PR. Kind of busy in two days. I will get back to you soon.

[2021-06-25 14:15] by256 opened #82 "Allowing the use of alternative loss functions"
Hi,

Thank you for this super useful library.

I've noticed that the ensemble modules are all restricted to either cross-entropy loss (in the case of classification) or mean squared error loss (in the case of regression). Is there a particular reason for this? It would be great if we could pass any objective function of our choosing to the ensemble modules, as this would provide much greater flexi

[2021-06-25 14:39] xuyxu commented on #82
Hi Batuhan,

The use of cross entropy loss for classifier and mean squared error loss for regressor rooted in the early API design of torchensemble (following the same design of [Scikit-Learn Ensemble](https://scikit-learn.org/stable/modules/classes.html#module-sklearn.ensemble)). I agree with you that there should be no limitation on the specification of objective functions.
* * *

Sure, your con

[2021-06-25 15:38] by256 commented on #82
That makes sense.

Thanks for the suggestions. Starting with `Voting` seems like a reasonable idea. I'll take an in-depth look at the current API on Monday and see if I have any ideas. I'll keep you posted here if I run into any trouble.

[2021-06-25 15:39] xuyxu commented on #82
Great!

[2021-06-26 11:32] cuge1995 opened #83 "How to ensemble different models, like Resnet50 and Resnet152?"

[2021-06-26 12:02] xuyxu commented on #83
Hi @cuge1995, the heterogeneous ensemble is not supported so far since training configurations of different base estimators could be quite different (e.g., different type of optimizer, different learning rate, ...). It is hard to find a user-friendly way to specify the training configuration for each base estimator in the ensemble.

[2021-06-28 16:59] by256 commented on #82
Would it be simpler to just set the loss function as an instance variable with a `set_criterion` method, then access the method via a call to `self.criterion` in each ensemble module? For example:

[code]

I've tried this and it seems to work well for all of the ensemble modules except GradientBoosting. This would also circumvent the need to create additional custom classes for each ensemble modul

[2021-06-28 17:55] tchaton opened #84 "Integration in Lightning Flash"
Dear people from @Ensemble-Pytorch,

I am currently working on this framework: https://github.com/PyTorchLightning/lightning-flash which is a collection of production ready tasks.

I was wondering if you would be willing to integrate your library into Lightning Flash.
There would be some work to make the API very transparent and simpler for the users.

Best,
T.C

[2021-07-01 13:03] lorenzosquadrani opened #85 "Allowing per-parameters options for the optimizer"
Hi! I hope I'm not mistaken, but it seems like I cannot set an optimizer with different per-layer learning rates. My model really needs it, and I couldn't find an easy workaround. Maybe you could just modify the code in such a way that the argument model.parameters() is not implicitily obtained, but explicitely passed to the function set_optimizer. In this way one could pass the dict {params1: lr1

[2021-07-01 13:57] xuyxu commented on #85
Hi @lorenzosquadrani, thanks for you suggestions. I agree with you that we should support specifying various learning rates for different model parameters. However, in some ensembles such as gradient boosting, it does not make any sense to use `model.parameters()` in `set_optimizer`, since it is `None` before calling the `fit` method.

Could we support this feature request via adding a new utility

[2021-07-01 13:59] xuyxu commented on #84
Hi @tchaton, thanks for your attention! I would like to ask that what we should do in order to `integrate torchensemble into Lightning Flash`.

[2021-07-01 14:02] xuyxu commented on #82
Sorry for the late response @by256.

Sure, this looks nice!

Meanwhile, I will also take a look at how to automatically calculate the first-order gradients with `torch.autograd.grad` ;-)

[2021-07-06 08:36] francescamanni1989 opened #89 "model.predict not working with test_loader as in the documentation"
Hi! Thanks for your amazing work with torch_ensemble.
I am trying to use model_predict for the MNIST example by implementing the following as in the documentation.
model.predict(test_loader).

However I keep having this error.
ValueError: The type of input X should be one of {{torch.Tensor, np.ndarray}}.

[2021-07-06 12:55] xuyxu commented on #89
Hi @francescamanni1989, if you want to evaluate the test_loader, please use the `evaluate` method.

[2021-07-21 16:51] kamathis4 opened #90 "Invalid dataloader, please check if the input dataloder is valid."
Tried to use multi-label classifier with Gradient boosting. It works with normal pretrained models well enough. I don't know what's the problem here

[2021-07-22 04:34] xuyxu commented on #90
Hi @kamathis4, currently multi-label classification is not supported ;-(

[2021-08-11 07:54] kiranchari opened #91 "typo in readthedocs"
In https://ensemble-pytorch.readthedocs.io/en/stable/quick_start.html#set-the-logger

`from torchensemble.utils import set_logger`
must be changed to
`from torchensemble.utils.logging import set_logger`

The former throws an import error

[2021-08-11 08:01] xuyxu commented on #91
Thanks, will appreciate a PR very much ;-)

[2021-08-11 15:08] xuyxu commented on #91
@all-contributors please add @kiranchari for doc

[2021-08-11 15:11] #91 closed

[2021-08-11 15:12] xuyxu commented on #89
closed due to inactivity

[2021-08-11 15:12] #89 closed

[2021-08-22 18:42] kiranchari opened #94 "only one model in FusionClassifier ensemble is learning anything"
I am using a FusionClassifier of 3 estimators with a ResNet backbone. After training the ensemble from scratch on CIFAR10, when I evaluate the individual estimators in the ensemble, I find that only one of the estimators has learned anything and the others are performing no better than random. So it appears the ensemble did not train properly for some reason.

Have you come across this issue, any

[2021-08-23 04:34] xuyxu commented on #94
My suggestion is to give VotingClassifier a try, FusionClassifer is not suited for base models like ResNet ;-)

[2021-08-23 05:01] kiranchari commented on #94
I actually need to train the models jointly for some additional regularisation I am doing. Which models is FusionClassifier suitable for?

[2021-08-23 05:40] xuyxu commented on #94
Which kind of regularization are you going to put into the model? Is it hard-coded into the forword process of the base estimator, or it is simply another term in the loss function?

[2021-08-23 05:41] kiranchari commented on #94
Its an another loss term that depends on all the estimators.

[2021-08-23 05:48] xuyxu commented on #94
In this case, the VotingClassifier is not applicable. So, does your issue occur after adding the regularization term into the loss function of FusionClassifier ?

[2021-08-23 05:51] kiranchari commented on #94
Actually I trained a baseline ensemble without additional regularization and I still find that only one model has learned anything. The others are performing no better than random.

[2021-08-23 09:55] kiranchari commented on #94
I was able to resolve this by averaging the softmax outputs of the estimators instead of their logits

[2021-08-23 09:55] #94 closed

[2021-08-23 14:54] xuyxu commented on #94
Glad to see your problem soved, is there any problem with the code of FusionClassifier ?

[2021-08-24 07:19] kiranchari commented on #94
In the FusionClassifier the output logits of the models are averaged but I think averaging softmax probabilities of the models works better (and is also standard practice I think).

[2021-09-17 15:29] francescamanni1989 opened #96 "How to script the forward pass?"
Hu everyone,

I am trying to script the ensemble, however, argsvar cannot be used with torchscript

torch.jit.frontend.NotSupportedError: Compiled functions can't take variable number of arguments or use keyword-only arguments with defaults:
  File ".....\lib\site-packages\torchensemble\soft_gradient_boosting.py", line 390
        "classifier_forward",
    )
    def forward(self, *x):

[2021-09-18 11:29] xuyxu commented on #96
Thanks for reporting! @francescamanni1989

Could you provide the code snippet that reproduces the runtime error.

[2021-09-19 17:31] francescamanni1989 commented on #96
Hi,

the code part in gradient_boosting.py is in the argsvar part, when boosting is performed:
    def forward(self, *x):
       output = [estimator(*x) for estimator in self.estimators_]
       output = op.sum_with_multiplicative(output, self.shrinkage_rate)
       output = F.softmax(output, dim=1)
       return output

My error comes, when trying to script the model:

model = model_ensemble
trac

[2021-09-20 01:15] xuyxu commented on #96
It looks like the package does not support `torchscript` well for now. I will have a careful look when I get a moment, thanks!

[2021-09-20 06:44] francescamanni1989 commented on #96
Exactly!
Thank you

[2021-09-20 08:22] francescamanni1989 commented on #96
Also, the function sum is not scriptable, but this could be by-passed using @torch.jit.ignore()

[2021-09-20 08:22] francescamanni1989 commented on #96
My suggestion for the indexed variable is to use a for loop instead.

[2021-10-14 04:03] rminhas opened #98 "Potential bug in gradient_boosting.py"
It seems that the `fit()` method of the `_BaseGradientBoosting` class always uses `nn.MSELoss()` even when doing classification. Since the `self._criterion` variable is unused, the choice of the appropriate loss function needs be made within `_BaseGradientBoosting` (rather than `GradientBoostingClassifier` or `GradientBoostingRegressor`). Currently, that doesn't seem to be happening. Of course, it

[2021-10-14 20:28] #98 closed, assigned to nobody

[2021-11-17 09:11] Sobbbbbber opened #99 "Can you share the original source of fusion? I would appreciate it!"
RT

[2021-11-17 15:18] xuyxu commented on #99
Hi @Sobbbbbber, `fusion` is arguably the most direct way of improving the model capacity of a base estimator that comes into people's mind, I dont think there is any paper that claims `fusion` as an  ensemble method ;-)

[2021-11-18 01:10] Sobbbbbber commented on #99
OK, thanks for your reply @xuyxu :-）
It's a great work~

[2021-11-18 02:08] #99 closed

[2021-12-01 18:51] athus1990 opened #100 "Issue setting Criterion"
Hello, I have the latest version installed and tried out the original MLP (Mnist) example.
I get this error when I call model.set_criterion(criterion)
"AttributeError: 'VotingClassifier' object has no attribute 'set criterion'

[2021-12-02 01:03] xuyxu commented on #100
Hi @athus1990, could you provide:
* the version of `torchensemble`
* a running script that reproduces your problem

thanks!

[2021-12-02 21:26] athus1990 commented on #100
Hi I am using torchensemble version (0.1.6)
I am using the script giving in the document section of the quickstart guide here.
https://ensemble-pytorch.readthedocs.io/en/latest/quick_start.html

[code]

[2021-12-03 12:52] xuyxu commented on #100
Hi @athus1990, `set_criterion` actually is supported in the master branch: [Code](https://github.com/TorchEnsemble-Community/Ensemble-Pytorch/blob/master/torchensemble/voting.py#L121). This problem should be fixed after the new version released.

[2021-12-03 13:06] xuyxu commented on #100
Fixed. Please update `torchensemble` to the latest version `0.1.7` ;-)

[2021-12-03 13:06] #100 closed

[2022-01-01 21:24] ParasKoundal opened #105 "Ensemble for PyTorch Geometric"
Hi,
I want to use Ensemble-PyTorch with PyTorch-Geometric. However, it doesn't recognize the dataloaders.

Is this under development or a bug.

[2022-01-03 04:28] xuyxu commented on #105
Hi @ParasKoundal, could you provide the code snippet on using dataloaders with graph data, so that we can take a closer look.

[2022-01-03 08:48] ParasKoundal commented on #105
@xuyxu
It is simple.

`.....
from torch_geometric.loader import DataLoader
.......

train_loader = DataLoader(train_dataset, batch_size= batch_s, shuffle=True,drop_last=True)
val_loader = DataLoader(val_dataset, batch_size=2,drop_last=True)
test_loader = DataLoader(test_dataset, batch_size=2,drop_last=True)
.......
`

I have created a custom class to preprocess dataset before loading into dataload

[2022-01-03 11:05] xuyxu commented on #105
Could you further provide the full exception traceback, thanks!

[2022-01-05 23:36] ParasKoundal commented on #105
@xuyxu

Here's that

[code]

[2022-01-06 05:12] xuyxu commented on #105
This could possibly be the side-effect of the commit from issue #75. Will see if this could be fixed in a few days, thanks for reporting @ParasKoundal !

[2022-01-12 12:23] ParasKoundal commented on #105
@xuyxu Any update on this?

[2022-01-12 12:29] xuyxu commented on #105
Hi @ParasKoundal, sorry, I am kind of busy these days, and will take a look during the next weekend.

[2022-01-16 05:19] xuyxu commented on #105
In torchensemble, at each iteration the input loader is expected to return a list in the following forms:
* `[data_tensor, target_tensor]`
* `[data_tensor_1, data_tensor_2, ..., target_tensor]`

The first kind of form is the most widely-used form of the dataloader (i.e., `for batch_idx, (data, target) in enumerate(loader)`), while the second one comes from the feature request from #75 to support m

[2022-02-23 03:06] arita37 opened #108 "How to stack embedding and pass the gradients?"
Have a 2 neural nets N1, N2,
want to stack their output embedding layer.

How to do this ?

[2022-02-23 07:19] xuyxu commented on #108
Suppose the output of `N1` and `N2` on a sample `x` is `N1(x)` and `N2(x)` separately, what you want is to concatenate their output (i.e., `[N1(x), N2(x)]`), and pass it to downstream layers, right?

[2022-02-23 10:08] arita37 commented on #108
Exactly:
   Either concat, or   Mean

We need to pass the gradient
and end to end training

[2022-02-23 14:54] xuyxu commented on #108
Hi, if you are going to take the mean of outputs from all base estimators, the `fusion` ensemble is exactly what you want.

As to the concatenation, it is somehow weird since all base estimators in the ensemble are doing the same thing, making concatenating their outputs kind of useless. Is there any paper or technical report demonstrating the effectivenss of concatenating outputs of base estimato

[2022-02-24 00:41] arita37 commented on #108
N1, N2,Nx  are different NN models.

We aggregate through concat their embedding output.

BigX = [ X1,….Xn]
and feed into another NN (ie merging).

This extensively used (ie Siamese Network…)

[2022-02-24 00:42] arita37 commented on #108
We are NOT dealing with output !!!

Output is kind of useless for End to End training…

We are dealing witht the last embedding.

[2022-02-24 01:04] xuyxu commented on #108
Thanks for your kind explanation. Heterogeneous ensemble is not supported yet, since we have not come up with a succinct way on setting different optimizers for different base estimators 😢.

[2022-02-27 12:05] xuyxu commented on #108
Kind of busy these days, will appreciate a PR very much ;-)

[2022-04-03 10:09] irg1008 opened #109 "Fix 'ReduceLROnPlateau' has no attribute 'get_last_lr'"
This scheduler doesn't have this attributte because it doesn't inherit from `_LRScheduler`, and simply implementes the generic 'object' class.

Instead of getting the leanring rate with `get_last_lr`, we could fetch it with `optimizer.param_groups[0]['lr']` for this very specific case.

[2022-04-04 03:28] xuyxu commented on #109
Hi @irg1008, thanks for your kind reminder, will appreciate a PR very much ;-)

[2022-05-02 13:37] Arcify opened #113 "Add custom optimizers"
Currently, the ensemble methods allow for different existing torch optimizers. It would be nice if users could choose to use a custom optimizer instead of providing a string with the optimizer name.

[2022-05-05 06:22] TianhaoFu opened #116 "how to ensemble 3d object detection model?"
thanks!

[2022-05-05 09:20] xuyxu commented on #113
Hi @Arcify, to achieve this, is it enough to accept a custom optimizer object in the `set_optimizer` method?

[2022-05-05 09:21] xuyxu commented on #116
Hi @TianhaoFu, since I am not familar with this area, is there any good example on the training pipeline of a 3d object detection model?

[2022-05-05 10:32] Arcify commented on #113
Hi @xuyxu , yes, that would be perfect and exactly what I need.

[2022-05-06 06:01] xuyxu commented on #113
Since I am not quite familiar with the custom optimizer, a PR would be much appreciated ;-)

If you are willing to, feel free to comment below if you need any help.

[2022-05-06 13:41] Arcify commented on #113
I just tried to fix it, but I came to the conclusion that there is no way to fix it that generalizes over other custom optimizers as well (given that not all optimizers have optimizer.zero_grad and some other small things), therefore I think adding custom optimizers will not work out the way I hoped it would, and I will close this issue. Thanks for your time!

[2022-05-06 13:41] #113 closed

[2022-05-06 13:49] xuyxu commented on #113
Never mind, thanks for your great idea ;-)

[2022-05-29 03:34] jisutich opened #117 "How to ensemble several different classification models into a voter?"
Hi,

I just start learning neural network and I want to create a voter for several different classification models trained on some dataset. It seems that this package is what I need. And I find the sample code in the document [https://ensemble-pytorch.readthedocs.io/en/latest/index.html](url).

`
model = VotingClassifier(
    estimator=MLP,
    n_estimators=10,
    cuda=True,
)
`
My naive understa

[2022-05-29 12:30] xuyxu commented on #117
Hi @jisutich, please refer to #49 for details on why heteregenous ensemble is hard to implement, thanks.

[2022-05-29 16:26] jisutich commented on #117
OK I got it. Thanks.

[2022-05-29 16:26] #117 closed

[2022-06-15 07:45] London38 opened #118 "Votings supported"
hi @xuyxu, I've been taking a look at Voting.py, If I'm not mistaken, only soft voting is implemented. are there any plans for implementing majority/hard, plurality and weighted voting as well?

Thanks in advance

[2022-06-17 01:36] London38 commented on #118
Thanks @xuyxu , the source where I read about them is: Ensemble Methods: Foundations and Algorithms. Zhou, Zhi-Hua. Page 71. Here  relativly new one: https://machinelearningmastery.com/horizontal-voting-ensemble/

[2022-07-17 13:23] SunHaozhe opened #119 "Question of the implementation of sampling with replacement for bagging"
I have a doubt of the current implementation of sampling with replacement for bagging, is this implementation grounded or justified?

The implementation of sampling with replacement for bagging is performed on each (training) batch, as shown in [https://github.com/TorchEnsemble-Community/Ensemble-Pytorch/blob/master/torchensemble/bagging.py#L48](url) (from Line 48 to 66 in https://github.com/Torch

[2022-07-18 15:19] xuyxu commented on #119
Hi @SunHaozhe, thanks for your insightful problem and detailed explaination. I think the best way to figure out this is to look at how bagging is implemented in other ML libraries, such as scikit-learn (code [here](https://github.com/scikit-learn/scikit-learn/blob/baf0ea25d6dd034403370fea552b21a6776bef18/sklearn/ensemble/_bagging.py#L38)). It turns out that sklearn uses `numpy.random.randint` to g

[2022-07-18 22:14] SunHaozhe commented on #119
Hi @xuyxu , thanks for your reply.

I provide the new implementation of Bagging in [this pull request](https://github.com/TorchEnsemble-Community/Ensemble-Pytorch/pull/120).

Indeed we do not need to store `N` copies of dataloaders/datasets in memory/disk, we only store `N` list of indices, thus we do not waste memory space. The details and implementation can be found in that pull request. Please

[2022-07-19 14:49] xuyxu commented on #119
Thanks for your PR, will take a loot when I get a moment.

[2022-09-19 15:22] LukasGardberg commented on #118
Hi, @xuyxu I wanted to give implementing another voting strategy a try, but am a bit unsure of what needs to be changed (I have never contributed before :) ). I started implementing majority voting in the forward method of the `VotingClassifier` class, but realized the averaging is implemented in some other placed as well, such as the validation part of the training loop. Would you or anyone be ab

[2022-09-20 13:39] xuyxu commented on #118
Hi @LukasGardberg, thanks for your contribution!

Is it enough to add the same code snippet to the `_forward` function in `fit` method [(Line171)](https://github.com/TorchEnsemble-Community/Ensemble-Pytorch/blob/master/torchensemble/voting.py#L171)?

Maybe you could open a pull request first, and we can implement this feature request step by step :D

[2022-09-20 16:15] LukasGardberg commented on #118
@xuyxu Cool, sure, I just opened a [pull request ](https://github.com/TorchEnsemble-Community/Ensemble-Pytorch/pull/126)with a first idea :)

[2022-09-21 09:24] xxmlala opened #127 "Some important evaluating metrics are not supported such as f1 and roc_auc"

[2022-09-23 05:59] SarthakJariwala commented on #109
Hi @xuyxu, if you are still looking for a PR, I would be happy to work on it

[2022-09-23 12:09] xuyxu commented on #109
Great! Feel free to work on it, and let me know if you need any help ;-) @SarthakJariwala

[2022-09-24 01:54] SarthakJariwala commented on #109
Hi @xuyxu - see PR #128 :-)

[2022-09-26 08:29] wuziqiqiqi opened #129 "need to generate prediction. model.predict not working"
Hi there,
After the model is trained, I need to use the model to generate predictions with my test dataset, instead of just getting a single accuracy (so eval() won't be enough). However, the model.predict did not work. If I do `model.predict(test_loader)`, it gives an error:
[code]
if I do `model.predict(*test_load)` it gives an error:
[code]

[2022-09-26 18:14] SarthakJariwala opened #130 "Adversarial Training Regressor and Classifiers have incorrect `is_classification` values set"
`AdversarialTrainingRegressor` has `is_classification` set to `True` in `_parallel_fit_per_epoch`

https://github.com/TorchEnsemble-Community/Ensemble-Pytorch/blob/d887b0089fdab31cc30280a75481cddc54ade634/torchensemble/adversarial_training.py#L411

https://github.com/TorchEnsemble-Community/Ensemble-Pytorch/blob/d887b0089fdab31cc30280a75481cddc54ade634/torchensemble/adversarial_training.py#L510-L5

[2022-10-01 04:15] #130 closed

[2022-10-04 11:35] #109 closed

[2022-11-30 15:34] binunalex opened #135 "Examples on features and labels"
Dear Friends,
   Please explain to me how to specify features and labels in the train loader.

Also, which input should be fed to model.predict(...) ?I obtain the answer like
ValueError: The type of input X should be one of {{torch.Tensor, np.ndarray}}.

I would be grateful for working examples.

Sincerely yours,
    Alex Binun